:root {
  --talkbubble-blue: #151F1E;
  --talkbubble-green: #3D4E17;
  --talkbubble-orange: #C7A003;
  --talkbubble-yellow: #EDE599;
  --talkbubble-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Montserrat", 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-height: 100vh;

  background: url('./media/sealife.jpg'), var(--talkbubble-blue);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 36px;
  color: var(--talkbubble-yellow);
  font-weight: normal;
}

a {
  color: var(--talkbubble-yellow) !important;
}

a:hover {
  color: var(--talkbubble-orange) !important;
}

.col-md-6 {
  padding: 25px;
}

.column-content {
  position: relative;
  height: 64vh;
  padding: 0 12px 16px 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-one {
  flex: 1;
}

.no-scroll::-webkit-scrollbar {
  display: none;
}

@media(min-width: 768px) {
  .container {
    max-width: 960px !important;
  }
}

@media(max-width: 768px) {

  .column-content {
    padding: 0;
    height: 58vh;
    width: 100%;
  }
  
  h1 {
    text-align: center;
    font-size: 1.5rem !important;
    margin-bottom: 0 !important;
    padding: 15px 0;
  }

  .mgmt-col {
    display: none;
  }
  .mgmt-col.active {
    display: flex;
  }

  .feed-col {
    display: none;
  }

  .feed-col.active {
    display: flex;
  }
}

@media(min-width: 1200px) {
  .container {
    max-width: 1140px !important;
  }
}